{% extends 'base.html' %}

{% block 'content' %}
    <form method="POST" action="{% url 'create' %}" class="m-2">
        {% csrf_token %}
        
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="name" id="name" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="dob" class="col-sm-2 col-form-label">DOB</label>
            <div class="col-sm-10">
                <input required type="date" class="form-control" name="dob" id="dob" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nrc" class="col-sm-2 col-form-label">NRC</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="nrc" id="nrc" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="phone" id="phone" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="Contact" class="col-sm-2 col-form-label">Contact</label>
            <div class="col-sm-10">
                <select class="form-control" name="contact" id="contact">
                    <option value="Yangon">Yangon</option>
                    <option value="Mandalay">Mandalay</option>
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
{% endblock %}
